{% extends "base_menu.html" %}

{% block content %}
<span style="float: right;">
{% if sentimentquery.owner == user %}
<a href="{% url 'sentiment_predictor:prediction_update' sentimentquery.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'sentiment_predictor:prediction_delete' sentimentquery.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h3>{{ sentimentquery.title }}</h3>
<p>
Input text was : {{ sentimentquery.text }} <br>
The Sentiment prediction is : {{ sentimentquery.prediction }}    <br>
Accuracy Score : {{ sentimentquery.prediction_score }}
</p>
<p>
</p>
<p>
<a href="{% url 'sentiment_predictor:all' %}">All Predictions</a>
</p>
{% endblock %}
